# MapR Cluster IP
mapr_cluster_ip: ""

# Raspberry Pi Configuration
hostname: "maprretail"
username: "mapr"
# Password: 'maprmapr'
# mkpasswd --method=sha-512 maprmapr
password: "$6$ftT4P96geBF$Clj2cGZ1XavSgUBDXWiAhr5B2K6CCtqZk3df0olHPqyNqTaltLOwrjLkTOfu.KeeKbu3JwBtjOJKcA6E.13vA0"
sshkey: "your_public_ssh_key"

# MapR VPN Connection details
ipsec_gateway: ""
ipsec_id: ""
ipsec_secret: ""
ipsec_xauth_username: ""
ipsec_xauth_password: ""

# MapR AWS SE VPN Connection Details
vpn_enable: "yes"
vpn_ovpn_config_file: "/myvpn.ovpn"
vpn_user: ""
vpn_password: ""
