# Raspberry Pi Configuration
hostname: "maprretail"
username: "mapr"
password: "maprmapr"
sshkey: "your_public_ssh_key"

# MapR VPN Connection details
ipsec_gateway: ""
ipsec_id: ""
ipsec_secret: ""
ipsec_xauth_username: ""
ipsec_xauth_password: ""

# MapR AWS SE VPN Connection Details
vpn_enable: "yes"
vpn_ovpn_config_file: "/myvpn.ovpn"
vpn_user: ""
vpn_password: ""
