---
  # Download the MapR Data Science Refinery Container
  - name: Download the data-science-refinery container
    docker_image:
      name: maprtech/data-science-refinery
      state: present
      force: yes

  - name: Launch the data-science-refinery container
    docker_container:
      image: maprtech/data-science-refinery
      name: data-science-refinery
      restart_policy: always
      state: started
      recreate: yes
      force_kill: yes
      interactive: yes
      env:
        HOST_IP={{ansible_default_ipv4.address}}
        MAPR_CLUSTER={{inventory_hostname}}
        MAPR_CLDB_HOSTS={{ansible_default_ipv4.address}}
        MAPR_CONTAINER_USER={{mapr_user}}
        MAPR_CONTAINER_PASSWORD={{mapr_user}}
        MAPR_CONTAINER_GROUP={{mapr_group}}
        MAPR_CONTAINER_UID={{mapr_user_uid}}
        MAPR_CONTAINER_GID={{mapr_group_gid}}
        MAPR_MOUNT_PATH=/mapr
      security_opts:
        - "apparmor:unconfined"
      devices:
        - "/dev/fuse"
      capabilities:
        - SYS_ADMIN
        - SYS_RESOURCE
      ports:
        - "9995:9995"
        - "10000:10000"
        - "10001:10001"
        - "10002:10002"
        - "10003:10003"
        - "10004:10004"
        - "10005:10005"
        - "10006:10006"
        - "10007:10007"
        - "10008:10008"
        - "10009:10009"
        - "10010:10010"
        - "11000:11000"
        - "11001:11001"
        - "11002:11002"
        - "11003:11003"
        - "11004:11004"
        - "11005:11005"
        - "11006:11006"
        - "11007:11007"
        - "11008:11008"
        - "11009:11009"
        - "11010:11010"
