---
  - name: Creates /streamsets_pipelines/ directory to store pipelines
    file:
      path: /streamsets_pipelines/
      state: directory
      mode: 777

  # Download the MapR PACC StreamSets Container
  - name: Download the mapr-pacc-streamsets-docker container
    docker_image:
      name: mkieboom/mapr-pacc-streamsets-docker:{{mapr_pacc_streamsets_version}}
      state: present
      force: yes

  - name: Launch the mapr-pacc-streamsets-docker container
    docker_container:
      image: mkieboom/mapr-pacc-streamsets-docker:{{mapr_pacc_streamsets_version}}
      name: mapr-pacc-streamsets-docker
      restart_policy: always
      state: started
      recreate: yes
      force_kill: yes
      interactive: yes
      env:
        MAPR_CLUSTER={{mapr_cluster_name}}
        MAPR_CLDB_HOSTS={{ansible_default_ipv4.address}}
        MAPR_CONTAINER_USER={{mapr_user}}
        MAPR_CONTAINER_PASSWORD={{mapr_user}}
        MAPR_CONTAINER_GROUP={{mapr_group}}
        MAPR_CONTAINER_UID={{mapr_user_uid}}
        MAPR_CONTAINER_GID={{mapr_group_gid}}
        MAPR_MOUNT_PATH=/mapr
      security_opts:
        - "apparmor:unconfined"
      devices:
        - "/dev/fuse"
      capabilities:
        - SYS_ADMIN
        - SYS_RESOURCE
      ports:
        - "18630:18630"
      volumes:
      - /streamsets_pipelines/:/data
